.sc-hero-section:before {
    content: "";
    background: linear-gradient(101.61deg, #002D97 3.52%, #0639AF 97.73%) !important;
    padding: 150px 0 200px 0;
    opacity: 999;
}

.sc-hero-section video {
    opacity: 1;
}
video {
    filter: brightness(50%);
    z-index: -1; 
}

.video-overlay {
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 1;
}
.sc-hero-content {
    position: relative; 
    z-index: 1;
}

.sc-hero-content h1 {
    color: #ffffff; 
    font-size: 36px; 
    font-weight: bold; 
}

.sc-hero-content p {
    color: #ffffff; 
    font-size: 18px;
}

.sc-hero-content a {
    color: #ffffff; 
    font-size: 16px;
}
.img-container {
    pointer-events: none;
}
